@{

}

<div>
    <div class="text-xl my-2 text-blue-300">
        Studenti della scuola
    </div>
    
    <div>
        <div class="container row">
            <div>
                Paolo
            </div>
            <div>
                Rossi
            </div>
            <div>
                Media
            </div>
            <div style="margin-left=20px">
                <button class="btn btn-default">Rimuovi</button>
                <button class="btn btn-default">Modifica</button>
            </div>
        </div>
    </div>
</div>
